.red-border{
    border: 2px solid #f44336;
}

.margin{
    margin: 15px 0 15px 15px;
  }

  .header-margin{
    margin: 0 15px;
  }

  button.size{
    height: 40px;
    padding-left: 15px;
  }

  @media only screen and (max-width: 768px){
    .margin{
      margin: 15px 15px 15px 15px;
    }
  }