:host {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.mat-cell {
    padding: 0 15px;
}

.mat-header-cell {
    padding: 0 15px;
    font-size: 1.2rem;
}

.mat-table {
    width: 80%;
}